img {
	width: 20%;
	height: auto;
	margin: 25px 50px 25px 50px;
}

iframe {
	width:100%;
	height:700px;
}

a {
	text-decoration: underline;
}

dt {
	text-shadow: 0 0 3px mediumseagreen;
}

div.right {
	text-align: right;
}

.button {
	background-color: rgba(0, 200, 150, 0.3);
	border: none;
	color: white;
	padding: 8px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	border-radius: 25px;
}

#solution {
	margin: auto;
	width: 75%;
	padding: 50px 0;
	text-align: center;
	background-color: rgba(0, 100, 235, 0.2);
	margin-top: 20px;
	border-radius: 25px;
}
